body{
background: linear-gradient(180deg, #31363A 0%, #13171A 100%);
}
.container{
display: grid;
justify-content: center;
gap: 20px;
margin: 50px 0px;
}
.nav__container{
display: flex;
justify-content: space-between;
max-width:900px;
}
.nav__aside__container{
gap: 10px;
display: flex;
justify-content: end;
}
.article__container{
display: flex;
flex-wrap: wrap;
justify-content: center;
max-width: 900px;
gap: 40px;
}
.section__cards{
justify-content:flex-start;
max-width: 900px;  
flex-wrap:wrap ;
}
.search__container{
max-width: 270px;
max-height: 40px;
background: #42474A;
backdrop-filter: blur(2px);
border-radius: 10px;
display: flex;
justify-content: space-between;
align-items: center;
padding: 5px;
}
.search__input{
background: #42474a4a;
backdrop-filter: blur(2px);
border-radius: 10px;
border: none;
outline: none;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
color: #7D7D7D;
}
.user__container{
display: flex;
justify-content: center;
align-items: center;
}
.user__profil{
max-width: 41px;
max-height: 41px;
background: #C4C4C4;
border-radius:50% ;
padding: 5px;
cursor: pointer;
}
.user__name{
font-weight: 400;
font-size: 15px;
line-height: 18px;
color: #C4C4C4;
background-color:#31363A;
border: none;
outline: none;
}
.notification{
padding-left:50px;
cursor: pointer;
}
.header__title{
font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 21px;
color: #F3F3F3;
margin: 20px 0px;
}
.section__cards{
display:flex;
margin: 30px 0px;
gap: 10px;
}
.card{
display: flex;
justify-content: center;
align-items: center;
padding: 10px;
color: white;
width: 100%;
max-width: 82px;
max-height: 55px;
border-radius: 10px;
cursor: pointer;
} 
.card1{
background: linear-gradient(90.34deg, #FFA113 8.21%, #F4350A 60.11%);
background-blend-mode: darken;
mix-blend-mode: normal; 
}  
.card2{
background: linear-gradient(90.34deg, #5A5752 8.21%, #89807E 60.11%);
background-blend-mode: darken;
}
.card3{
background: linear-gradient(90.34deg, #FFA113 8.21%, #F4350A 60.11%);
background-blend-mode: darken;
mix-blend-mode: normal;
}
.card4{
background: linear-gradient(90.34deg, #FFA113 8.21%, #F4350A 60.11%);
background-blend-mode: darken;
mix-blend-mode: normal;
}
.card5{
background: linear-gradient(90.34deg, #5A5752 8.21%, #89807E 60.11%);
background-blend-mode: darken;
mix-blend-mode: normal;
}
.card6{
background: linear-gradient(90.34deg, #5A5752 8.21%, #89807E 60.11%);
background-blend-mode: darken;
mix-blend-mode: normal;
}
.card7{
background: linear-gradient(180deg, #D2DF3D 0%, #959D3E 100%);
background-blend-mode: darken;
mix-blend-mode: normal;
border-radius: 0px 10px 10px 10px
}
.card8{
background: linear-gradient(180deg, #DFA83D 0%, #8D7840 100%);
background-blend-mode: darken;
mix-blend-mode: normal;
border-radius: 0px 0px 0px 10px;
}

.main__card{
font-family: 'Roboto';
font-style: normal;
width: 270px;
max-height:max-content;
background: linear-gradient(183.65deg, #212429 3%, rgba(108, 112, 118, 0) 107%);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
border-radius: 15px;

}
.main__card__nav{
display: flex;
justify-content: space-between;
padding: 20px;
}
.info_text_container{
padding: 5px;
}
.main__card__nav__container{
display: grid;
}
.main__card__nav--title{
font-weight: 700;
font-size: 16px;
line-height: 19px;
color: #D4D7DC;
}
.info__text{
font-weight: 700;
font-size: 16px;
line-height: 19px;
color: #D4D7DC;
display: block;
padding: 5px 0px;
}
.info__text__container{
justify-content: start;
}
.info__text__container1{
margin-right: 50px;
}
.subtext__container{
display: flex;
font-size: 12px;
line-height: 14px;
color: #FFFFFF;
justify-content: space-between;


}
.info__subtext{
font-size: 12px;
line-height: 14px;
color: #888888;
justify-content: start;
}
.main__card__nav--text{
font-weight: 500;
font-size: 12px;
line-height: 14px;
color: #888888;
}
.main__card__nav__profile{
width: 41px;
height: 41px;
border-radius: 50%;
background: #BE2828;
justify-content: center;
align-items: center;
display: grid;
cursor: pointer;
}
.main__card__nav__profileM{
background: #B148A7;
width: 41px;
height: 41px;
border-radius: 50%;
justify-content: center;
align-items: center;
display: grid;
cursor: pointer;
}
.main__card__nav__profileA{
width: 41px;
height: 41px;
border-radius: 50%;
background: #159D3B;
justify-content: center;
align-items: center;
display: grid;
cursor: pointer;
}
.info_container{
display: flex;
justify-content: center;
flex-wrap: wrap;
align-items: center;
margin: 10px ;


}
.main__card_info_footer{
display: flex;
border-top: 1px solid #414448;
margin-top: 20px;
padding-top: 20px;
gap: 10px;
justify-content: space-between;
}
.footer__text__container{
display: grid;
align-self: flex-start;
}

.main__card__footer__button{
width: 45px;
height: 45px;
background: linear-gradient(90.34deg, #FFA113 8.21%, #F4350A 60.11%);
background-blend-mode: darken;
mix-blend-mode: normal;
align-self: flex-start;
border-radius: 10px;
cursor: pointer;
}
.main__card__footer__button__cancel{
width: 45px;
height: 45px;
background: linear-gradient(90.34deg, #5A5752 8.21%, #89807E 60.11%);
background-blend-mode: darken;
mix-blend-mode: normal;
border-radius: 10px;
margin: 0px;
cursor: pointer;
}
.main__card__footer__button__cancel_text{
width: 143px;
height: 45px;
background: linear-gradient(90.34deg, #5A5752 8.21%, #89807E 60.11%);
background-blend-mode: darken;
mix-blend-mode: normal;
border-radius: 10px;
color: #9C9292;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
}
.main__card__footer__button__complete{
width: 143px;
height: 45px;
color: #FFFFFF;
background: linear-gradient(90.34deg, #FFA113 8.21%, #F4350A 60.11%);
background-blend-mode: darken;
mix-blend-mode: normal;
border-radius: 10px;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
}
.info__plate__width{
width:108px;
}
.info__plate__width2{
width: 75px;
height: 75px;
margin: 16px;
}
