
body{
background-color: #051c2b;

}
.container{
display: grid;
justify-content: center;
align-items: center;
align-self: center;
background: url(../assets/img/svg/Group\ 1139.png)no-repeat right  bottom; 
max-width: max-content;
margin: 0px auto;

}

.title{
font-weight: 700;
font-size: 36px;
line-height: 47px;
text-align: center;
color: #FFFFFF;
margin-bottom: 70px;
margin-top: 80px;
}
.button__container{
display: flex;
justify-content: space-between;
align-items:center;
margin-bottom: 25px;
}
.button{
display: grid;
gap: 36px;
}
.item__button{
width: 50px;
height: 50px;
border-radius: 50%;
background: #7EACFF;
display: flex;
justify-content: center;
align-items: center;
margin-left: 5px;
}
.button__yellow{
background-color: #F5C27B;
}
.button__green{
background: #62F5D1;
}
.button__red{
background: #FA9D96;
}
.item__button__title{
max-width: 202px;
max-height: 30px;
font-weight: 700;
font-size: 20px;
color: #FFFFFF;
margin-bottom: 25px;
}
.card_item__check{

}
.card__item__check__container{
width: 24px;
height: 23.97px;
background: #00A478;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;

}
.item__red{
background: #E24C4B;
}
.card_text{
font-size: 16px;
line-height: 150%;
color: #000000;
padding: 15px;
}
.card__container{
display: flex;
flex-wrap: wrap;
gap: 15px;
grid-template-columns: repeat(1, 1fr);

}


.card{
display: flex;
justify-content: flex-start;
align-items: center;
font-weight: 700;
padding-left: 20px;
width: 302px;
height: 57px;
background: #FFFFFF;
border: 0.2px solid #EDECEC;
border-radius: 15px;
margin: 15px 0px;
}
.card__big{
height: 73px;
}
.footer__text{
display:grid;
justify-content: center;
align-items: center;
font-weight: 700;
margin-top:70px ;
margin-bottom: 50px;
}

.card__container{
display: flex;
justify-content: center;
}
