.container{
display: grid;
justify-content: center;
align-items: center;
align-self: center;
margin-top:50px;
margin-left: 10%;
}
.nav{
max-width:100%;
max-height: 30px;
}
.nav_title{
max-width: 512px;
max-height: 45px;
font-family: 'LoRes 9 Plus OT';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 111.8%;
color: #000000;
justify-content: space-between;
margin: 20px ;
}
.header{
display: grid;
gap: 30px;
grid-template-columns: 4fr 8fr;
}
.header__card{
background-image: url('../assets/img/women.png');
background-size: cover;  
background-position:center;
max-width: 100%;
width: 470px;
height:428px;
grid-column: 1 / 1;
display: grid;
border-radius: 13px;
}
.header__card_box{
width: 427.71px;
height: 77.31px;
background-color: rgba(255, 255, 255, 0.8);
backdrop-filter: blur(25px);
border-radius: 15px;
align-self: flex-end;
text-align: start;
display: grid;
padding: 10px 10px;
margin: 10px;
}
.header__card__item_title{
font-family: 'AvertaStd-Bold';
font-size: 26px;
line-height: 30px;
color: #0E0E0E;
font-weight: 900;
}
.header__card_item_text{
font-size: 15.2437px;
line-height: 18px;
color: #5E5E5E;
}
.header__cards{
display: flex;
flex-wrap: wrap;
grid-template-columns: 4fr 4fr 4fr;
grid-column: 2 / 2;
grid-row: 2;
gap: 10px;
max-width: 750px;
}
.header__aside__card{    
width: 100%;
max-width: 200px;
max-height: 228px;
border-radius: 13px;
background-size: cover;  
background-position:center;
display: grid;
}
.header__aside__card--text{
max-width: 180px;
max-height: 20px;
height: 100%;
background-color: rgba(255, 255, 255, 0.8);
border: 0.5px solid #C7C7C7;
backdrop-filter: blur(25px);
border-radius: 15px;
margin: 10px;
padding: 10px;
align-self: flex-end;
}
.aside__card--img1{
background-image: url('../assets/img/photo-1580089056071-11f31b94fefe\ 1.png');
}
.aside__card--img2{
background-image: url('../assets/img/Antelope-Canyon-3-Acrylic-on-Canvas\ 1.png');
}
.aside__card--img3{
background-image: url('../assets/img/artwork-4\ 1.png');
}
.aside__card--img4{
background-image: url('../assets/img/digital-digital-art-artwork-fantasy-art-drawing-hd-wallpaper-preview\ 1.png');
}
.aside__card--img5{
background-image: url('../assets/img/bts-v-pencil-art-work-1\ 1.png');
}
.aside__card--img6{
background-image: url('../assets/img/images\ 1.png');
}
.article{
display: flex;
margin-top:80px;
margin-bottom: 50px;
justify-content: space-between;
}
.article__title{
width: 221px;
height: 37px;
font-family: 'LoRes 9 Plus OT';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 115.8%;
color: #000000;
}
.article__button{
display: block;
box-sizing: border-box;
position: absolute;
max-width: 124px;
max-height: 47.99px;
background: #FFFFFF;
border: 1px solid #6300FF;
border-radius: 47px;
margin-left: 340px;
padding: 10px;
}
.footer{
display: flex;
flex-wrap: wrap;
max-width: 1200px;
grid-row-gap:  150px;
grid-column-gap: 28px;
margin-top: 30px;
}
.footer_card{
display: grid;
}
.footer_card_top{
width: 100%;
max-width: 200px;
max-height: 127px;
background-size: cover;  
background-position:center;
display: grid;
align-items:flex-end;
justify-content: center;
border-radius: 20px;
}
.footer__card--img1{
background-image: url(../assets/img/Rectangle\ 1823.png);
}
.footer__card--img2{
background-image: url(../assets/img/Rectangle\ 1823\ \(1\).png);
}
.footer__card--img3{
background-image: url(../assets/img/Rectangle\ 1823\ \(2\).png);
}
.footer__card--img4{
background-image: url(../assets/img/Rectangle\ 1823\ \(3\).png);
}
.footer__card--img5{
background-image: url(../assets/img/Rectangle\ 1823\ \(4\).png);
}
.footer__card--img6{
background-image: url(../assets/img/Rectangle\ 1823\ \(5\).png);
}
.footer__card--img7{
background-image: url(../assets/img/Rectangle\ 1823\ \(6\).png);
}
.footer__card--img8{
background-image: url(../assets/img/Rectangle\ 1823\ \(7\).png);
}
.footer__card--img9{
background-image: url(../assets/img/Rectangle\ 1823\ \(8\).png);
}
.footer__card--img10{
background-image: url(../assets/img/Rectangle\ 1823\ \(9\).png);
}
.footer__card--img{
display: flex;
justify-content: center;
align-items: center;
}
.footer__card__profil{
width: 95px;
height: 95px;
display: inline;
justify-content: center;
position:absolute;
margin-top: 50px;
}
.footer__card__bottom{
width: 100%;
width: 200px;
height: 160px;
display: grid;
background: #FFFFFF;
border: 0.5px solid #C7C7C7;
box-shadow: 0px 25px 40px rgba(0, 0, 0, 0.01);
border-radius: 20px;
}
.footer__card__bottom_title{
font-family: 'AvertaStd-Bold';
font-size: 22px;
line-height: 21px;
display: grid;
align-items: center;
text-align: center;
font-weight: 900;
color: #0E0E0E;
}
.footer__card__bottom__text{
text-align: center;
font-family: 'AvertaStd-Semibold';
font-size: 14px;
line-height: 16px;
display: grid;
align-items: center;
color: #979797;
padding: 0px;
}
.footer__card__item--svg{
background-color: #FEA431;
width: 24px;
height:24px;
border-radius: 50%;
margin-top: 80px;
position: relative;
right: -30px;
top: 20px;
}
@media screen and (max-width:1200px) {
.header{
display: flex;
flex-wrap: wrap;
max-width: 500px;
}
.header__cards{
display: flex;
justify-content:start;
grid-template-columns:  4fr 4fr;
gap:10px ;
margin: 0px;
max-width: 450px;
display: flex;
justify-content: space-between;
}
.header__card{
display: flex;
float: left;

}
.header__card{
width: 450px;
}
.header__aside__card{
width: 180px;
height: 150px;
}
.footer{
display: flex;
max-width: 450px;
justify-content: space-between;
}
}